<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cs.sis.sdk">

  <uses-permission android:name="android.permission.INTERNET" />
  <application

      >
    <activity
        android:name=".ui.SISSetActivity"
        android:theme="@style/SISAppTheme"
        >
    </activity>


    <activity
        android:name=".ui.SISPermissionActivity"
        android:theme="@style/SISAppTheme"
        >
    </activity>
  </application>

</manifest>
